@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--almostWhite: hsl(0, 0%, 98%);
	--mediumGray: hsl(0, 0%, 41%);
	--almostBlack: hsl(0, 0%, 8%);
}

body {
	font-family: "Epilogue", sans-serif;
}
.app {
	display: flex;
	height: 100vh;
}
.navbar {
	// background-color: gray;
	display: flex;
	align-items: center;
	// justify-content: space-around;
	height: 70px;
}
.logo {
	margin-left: 3rem;
}
.nav-menu {
	margin-left: 3rem;
	list-style: none;
	display: flex;
	width: 40%;
	justify-content: space-between;
}
.nav-item {
	margin: auto 20px;
}
.nav-item .nav-link {
	text-decoration: none;
	color: var(--almostBlack);
	transition: all 0.4s ease-out;
}
.nav-item .nav-link:hover {
	color: blue;
}
.menu-icon {
	transition: all 0.5s;
	position: absolute;
	right: 2rem;
	display: none;
}

@media screen and (max-width: 890px) {
	.nav-menu {
		display: none;
	}
	.nav-menu.active {
		transition: 0.8s ease-out;
		margin-left: 0;
		// background-color: gray;
		// display: none;
		display: flex;
		flex-direction: column;
		// justify-content: center;
		align-items: center;
		position: absolute;
		top: 70px;
		right: 0;
		width: 30%;
	}
	.nav-item {
		margin: 20px auto;
	}
	.menu-icon {
		display: block;
	}
}
