@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--almostWhite: hsl(0, 0%, 98%);
	--mediumGray: hsl(0, 0%, 41%);
	--almostBlack: hsl(0, 0%, 8%);
}

body {
	font-family: "Epilogue", sans-serif;
	overflow: hidden;
}
.App {
	background-color: var(--almostWhite);
	// overflow-y: scroll;
	overflow-x: hidden;
	// display: flex;
	min-height: 100vh;
}
.navbar {
	// background-color: gray;
	height: 70px;
	display: flex;
	align-items: center;
	gap: 3rem;
	// overflow: auto;
	width: 100%;
}
.logo {
	margin-left: 3rem;
}
.nav-menu {
	list-style: none;
	display: flex;
}
.nav-item {
	margin: auto 1rem;
}
.nav-item .nav-links {
	color: var(--almostBlack);
	text-decoration: none;
}
.nav-item:hover .sub-menu {
	display: block;
	position: absolute;
}

.sub-menu {
	background-color: white;
	border-radius: 10px;
	display: none;
	list-style: none;
	position: absolute;
	padding: 10px;
	// left: -100px;
	// display: none;
}
.sub-menu-item {
	margin: 10px auto;
}
.sub-menu-item img {
	margin-right: 10px;
}
.sub-menu .sub-menu-links {
	color: var(--almostBlack);
	text-decoration: none;
}

#register {
	border: 1px solid;
	padding: 10px 20px;
	border-radius: 2rem;
}

.menu-icon {
	cursor: pointer;
	display: none;
	margin-left: auto;
	margin-right: 3rem;
}
@media screen and (min-width: 950px) {
	.login {
		position: absolute;
		right: 200px;
	}
	.register {
		position: absolute;
		right: 30px;
	}
}

@media screen and (max-width: 900px) {
	.menu-icon {
		display: block;
		z-index: 100;
		position: fixed;
		right: 0;
	}
	.nav-menu {
		background-color: var(--almostWhite);
		text-align: start;
		display: block;
		position: fixed;
		top: 0;
		right: -100%;
		// right: 0;
		width: 50%;
		height: 100%;
		opacity: 0;
		transition: all 0.9s ease-in-out;
	}
	.nav-menu.active {
		right: 0;
		opacity: 1;
	}
	.nav-item:first-child {
		margin-top: 100px;
	}
	.nav-item {
		margin: 20px 10px;
	}
	#login {
		margin-top: 2rem;
	}
	.center {
		text-align: center;
	}
	.sub-menu {
		overflow: hidden;
		width: 60%;
		margin-left: 20px;
		// display: flex;
	}
	.nav-item:hover .sub-menu {
		text-align: start;
		position: relative;
		display: block;
	}
}

section {
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 50px;
		margin: auto 11rem;
		.contents {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			// font-size: larger;
			// margin-top: 70px;

			h1 {
				font-size: 3.7rem;
				margin-top: 120px;
				// margin-bottom: 50px;
			}
			p {
				font-size: 18px;
				// letter-spacing: 0.8px;
				// margin-bottom: 50px;
			}
			button {
				background-color: #000;
				color: #fff;
				padding: 10px 20px;
				// background-color: transparent;
				border: 2px solid;
				border-radius: 10px;
				font-size: 1rem;
				font-weight: 900;
				width: 40%;
				// margin-bottom: 40px;
			}
			button:hover {
				background-color: transparent;
				color: #000;
			}

			.footer {
				display: flex;
				justify-content: space-between;
				// margin-top: 30px;
			}
		}
		.img-container {
			// flex-shrink: 8;
			img {
				width: 100%;
				height: 500px;
			}
		}
	}
}
// Section component responsive device for mobile
@media screen and (max-width: 950px) {
	body {
		overflow: auto;
	}
	section {
		.container {
			display: flex;
			flex-direction: column-reverse;
			gap: 0;
			margin: 0;
			.contents {
				display: block;
				// margin: 20px;
				text-align: center;

				h1 {
					margin-top: 40px;
				}
				p {
					margin-top: 10px;
					font-size: 1.4rem;
				}
				button {
					margin-top: 20px;
					padding: 20px;
					text-align: center;
					// width: 30%;
					font-size: 1.3rem;
				}
				.footer {
					margin-top: 20px;
					display: block;
				}
				// flex-direction: column;
				// justify-content: space-between;
				// font-size: larger;
				// margin-top: 70px;
			}
			.img-container img {
				width: 100%;
				height: 400px;
			}
		}
	}
}
